
.new-tweet {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-area {
  display: flex;
  flex-direction: column;
}

.bottom-chat-area {
  display: flex;
  justify-content: space-between;
}

