.old-tweet {
  border: 2px solid black;
  padding: 10px 20px;
  margin-left: 5em;
  margin-right: 5em;
  width: 80%;

  display:flex;
  flex-direction: column;
  
}

.old-tweet:hover {
  box-shadow: 5px 10px #888888;
}


.old-tweet-header {
  display: flex;
  justify-content: space-between;
}

.old-tweet-header-left-content {
  display: flex;
  gap: 10px;
}

.old-tweet-text {
  border-bottom: 2px solid black;
}

.old-tweet-footer {
  display: flex;
  justify-content: space-between;
}

.old-tweet-footer-icons {
  display: flex;
  color: black;
  gap: 10px;
}

.fa-flag:hover {
  color: #966c00;
}

.fa-retweet:hover {
  color: #966c00;
}

.fa-heart:hover {
  color: #966c00;
}