/* Old tweets article CSS */
.old-tweet {
  padding-bottom: 20px;
  display:flex;
  flex-direction: column;
  gap: 18px;
  
}

.old-tweet-article {
  border: 2px solid black;
  padding: 0.5em 1em;
  margin-left: 5em;
  margin-right: 5em;


  display:flex;
  flex-direction: column;
  
}

.old-tweet-article:hover {
  box-shadow: 5px 10px #966c00;
}


.old-tweet-header {
  display: flex;
  justify-content: space-between;
}

.old-tweet-header-left-content {
  display: flex;
  gap: 10px;
}

.old-tweet-text {
  border-bottom: 2px solid black;
}

.old-tweet-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.old-tweet-footer-icons {
  display: flex;
  color: #4056A1;
  gap: 10px;
}

.fa-flag:hover {
  color: #966c00;
}

.fa-retweet:hover {
  color: #966c00;
}

.fa-heart:hover {
  color: #966c00;
}